* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #b1d1ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 350px;
  padding: 2rem;
  border: 2px solid black;
}
form h2 {
  margin-bottom: 2rem;
}
form input {
  padding: 0.5rem;
  margin-bottom: 2rem;
  background: transparent;
  border-radius: 10px;
  border: 1px solid black;
}
form button {
  padding: 0.4rem;
  border-radius: 5px;
  background: #0d881b;
  font-size: 18px;
  color: aliceblue;
  border: none;
  cursor: pointer;
}
.login-form {
  display: none;
}
